{% extends 'base.html' %}

{% block content %}
<h2 class="mt-4 mb-4">Tambah Siswa Baru</h2>
<form method="POST">
    <div class="mb-3">
        <label for="name" class="form-label">Nama:</label>
        <input type="text" id="name" name="name" class="form-control" required>
    </div>

    <div class="mb-3">
        <label for="class_id" class="form-label">Kelas:</label>
        <select id="class_id" name="class_id" class="form-select" required>
            {% for class in classes %}
            <option value="{{ class.id }}">{{ class.class_name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="mb-3">
        <label for="student_number" class="form-label">Nomor Siswa:</label>
        <input type="number" id="student_number" name="student_number" class="form-control" required>
    </div>

    <button type="submit" class="btn btn-success">Tambah Siswa</button>
</form>
{% endblock %}
